body {
  background-color: #fff5eb;
  color: #014483;
  margin: 0;
  padding: 0;
  font-family: 'Geist', sans-serif;
}

h1, h3, h5 {font-family: 'Noto Serif Toto', serif;
font-weight: bold;}

h2, h4, h6 {
  font-family: 'Geist', sans-serif; 
  font-weight: bold;
}

.app {
    padding: 20px;
  }
  
  .toto-box {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
  }
  
  .circle-container {
    display: flex;
    justify-content: space-around;
  }
  
  .circle {
    width: 50px;
    height: 50px;
    background-color: #08A4BD;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
  
  .outlet-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .outlet-box {
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
  }
  
  .gold {
    background-color: gold;
  }
  
  .silver {
    background-color: silver;
  }
  
  .bronze {
    background-color: #cd7f32;
  }
  
  .entries-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .entries-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .entries-container li {
    padding: 5px 0;
  }

  .entry-box {
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
  }

  .custom-width {
    max-width: 75%
  }

  .nav-link {
    color: #08A4BD;
  }

  .navbar .nav-link.active {
    color: #014483;
  }

  .navbar .navbar-brand {
    font-family: 'Noto Serif TOTO', serif;
    font-weight: bold;
    color: #014483;
  }

  .login-btn, .submit-btn, .signup-btn {
    background-color: #08A4BD; 
    color: white;
  }
  
  .login-btn:hover, .submit-btn:hover, .signup-btn:hover {
    background-color: #ef8061; 
    color: white;
  }

  .logout-btn {
    background-color: #ef8061; 
    color: white;
  }
  
  .logout-btn:hover {
    background-color: #eb525c; 
    color: white;
  }

  .message-block {
    font-family: 'Noto Serif TOTO', serif;
    font-weight: bold;
    color: #eb525c;
  }