.app {
    padding: 20px;
  }
  
  .toto-box {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
  }
  
  .circle-container {
    display: flex;
    justify-content: space-around;
  }
  
  .circle {
    width: 50px;
    height: 50px;
    background-color: #3498db;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
  
  .outlet-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .outlet-box {
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
  }

  .outlet-box ul {
    list-style-type: none; /* removes bullets */
    padding: 0;
    margin: 0;
  }
  
  .outlet-box li {
    padding: 5px 0;
    text-align: center;
  }
  
  .gold {
    background-color: gold;
  }
  
  .silver {
    background-color: silver;
  }
  
  .bronze {
    background-color: #cd7f32;
  }
  
  .entries-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .entry-box {
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
  }
  
  .entries-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .entries-container li {
    padding: 5px 0;
  }
